<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
   
    <title>y</title>
  
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_694870_jbb0nn8hkpv9ggb9.css" />
  </head>
  <body>
    <div id="app">
      <keep-alive v-if="$route.meta.keepAlive">
        <router-view></router-view>
      </keep-alive>
      <router-view v-if="!$route.meta.keepAlive" ></router-view>
     
      
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
